 body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color:11000;
}

button {
  width: 50px;
  height: 50px;
  font-size: 18px;
  color: red;
  background-color: #111;
  margin: 5px;
  border-radius: 20px;
  border-bottom-right-radius: 10px;
  border-color: skyblue;
  font-style: italic;
}

#display {
  width: 220px;
  height: 40px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  background-color: #333;
  border-color: skyblue;
}

#frame {
    background-color: grey;
    border-color: red;
    padding: 20px;
    border-radius: 50px;
    border-color: red;
    
}